/*----->>>>>>> заголовок */
.body-cicle {
    max-width: 1200px;
    min-width: 100px;
    margin: 0 auto;
    background: #faf6f7;
    margin-bottom: 2px;
    display: block;
}

.body-cicle ul li {
    width: auto;
    display: table-cell;
    border-left: 1px skyblue solid;
    border-right: 1px skyblue solid;
    height: 15px;
}

.body-cicle ul li:first-child {
    width: 40px;
    display: table-cell;
    border-left: 1px skyblue solid;
    border-right: 1px skyblue solid;
    height: 15px;
    cursor: pointer;
}
#add-button ul:first-child:hover {
    background: #adacb1;
}

.body-cicle ul li p {
    display: table-cell;
    width: 1000px;
    vertical-align: center;
    text-align: center;
    font: small Arial;
}
.color {
    background: cornflowerblue;
}
.body-cicle ul li.pass {
    display: none;
}
/*<<<<<<<<<<<<<< заголовок */

/*------>>>>>>>>> Поля диалоговых окон*/
#edit-form-container:before, #add-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
#edit-form-container, #add-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
#edit-form, #add-form {
    display: inline-block;
    padding: 10px;
    width: 360px;
    background: skyblue;
    vertical-align: middle;
}
#edit-button:hover, #add-button:hover {
    background: cornflowerblue;
    cursor: pointer;
}
#edit-message, #add-message {
    padding-bottom: 20px;
}

.edit-field, .add-field {
    clear: both;
    text-align: right;
    height: 25px;
}
.edit-field label, .add-field label {
    float: left;
}
.edit-field-hidden {
    display: none;
}
#add-div, #edit-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}
.edit-btn {
    padding: 4px 0 4px 0;
    margin-top: 10px;
    display: inline;
    width: 10%;
}
.add-btn{
    padding: 4px;
    margin-top: 30px;
}
#edit-form input {
    width: 165px;
}
#add-form input {
    width: 145px;
}
.edit-line {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
/*------<<<<<<<<<< Поля диалоговых окон*/