<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<div id="login-form-container">
<form action="/login" method="POST" id="login-form" name="val">
    <div id="login-message"></div>
    <div class="login-field"><label >Login :</label> <input name="login" type="text" autocomplete=username></div>
    <div class="login-field"><label >Password :</label> <input name="password" type="password" autocomplete=current-password></div>
    <br/>
    <input class="login-btn" type="submit" name="cmd" value="OK">
</form>
</div>

<a href="/">back</a>
</body>
</html>